bin/Debug/net6.0/.NET_App.dll
obj/.NET_App.csproj.nuget.dgspec.json
bin/Debug/net6.0/.NET_App.pdb
bin/Debug/net6.0/.NET_App.dll
obj/.NET_App.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NET_App.assets.cache
obj/Debug/net6.0/.NET_App.csproj.AssemblyReference.cache
obj/Debug/net6.0/.NET_App.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/.NET_App.csproj.FileListAbsolute.txt
obj/Debug/net6.0/.NET_App.dll
obj/Debug/net6.0/.NET_App.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/.NET_App.genruntimeconfig.cache
obj/Debug/net6.0/.NET_App.pdb
obj/Debug/net6.0/ref/.NET_App.dll
obj/Debug/net6.0/refint/.NET_App.dll
